body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

div {
  width: 300px;
  margin: 0 auto;
  background-color: red;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #3498db; /* ここを変更*/
  color: #fff;
}

section {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
}
